* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

p, h5 {
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.skilled-container {
  width: 80%;
  margin: auto;
}
@media (max-width: 1024px) {
  .skilled-container {
    width: 95%;
  }
}

.get-started-button {
  border-radius: 28px;
  padding-block: 14px;
  padding-inline: 32px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
@media (max-width: 768px) {
  .get-started-button {
    padding-inline: 38px;
  }
}
.get-started-button:hover {
  transform: scale(1.05);
}
.get-started-button a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .get-started-button a {
    font-size: 16px;
  }
}

.skilled-e-learning-landing-page .header-hero-section {
  position: relative;
  overflow: hidden;
  padding-bottom: 110px;
}
@media (min-width: 1920px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: 100px !important;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: clamp(110px, 14vw, 380px);
  }
}
@media (min-width: 1625px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: 380px;
  }
}
@media (max-width: 1430px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: 169px;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .header-hero-section {
    padding-bottom: 0px;
  }
}
.skilled-e-learning-landing-page .header-hero-section .hero-bg {
  position: absolute;
  width: 75%;
  top: -27%;
  right: -27%;
}
@media (min-width: 1920px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    display: none;
  }
}
@media (max-width: 1350px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    top: -14%;
  }
}
@media (max-width: 1024px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    top: -3%;
  }
}
@media (max-width: 900px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    top: 5%;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    width: 80%;
    right: -32%;
  }
}
@media (max-width: 650px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    top: 15%;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .header-hero-section .hero-bg {
    display: none;
  }
}
.skilled-e-learning-landing-page header {
  padding-top: 24px;
}
.skilled-e-learning-landing-page header .header-button {
  background: #13183F;
  z-index: 9999;
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page header .header-button {
    padding-inline: 24px;
    padding-block: 9px;
  }
}
.skilled-e-learning-landing-page header .header-button:hover {
  background: #666CA3;
}
.skilled-e-learning-landing-page .hero {
  padding-top: 172px;
}
@media (max-width: 1024px) {
  .skilled-e-learning-landing-page .hero {
    padding-top: 130px;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .hero {
    padding-top: 99px;
  }
}
@media (max-width: 675px) {
  .skilled-e-learning-landing-page .hero {
    padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .hero {
    padding-top: 40px;
  }
}
.skilled-e-learning-landing-page .hero .hero-content {
  width: 40%;
}
@media (min-width: 1920px) {
  .skilled-e-learning-landing-page .hero .hero-content {
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 1430px) {
  .skilled-e-learning-landing-page .hero .hero-content {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .hero .hero-content {
    width: 70%;
  }
}
@media (max-width: 490px) {
  .skilled-e-learning-landing-page .hero .hero-content {
    width: 100%;
  }
}
.skilled-e-learning-landing-page .hero .hero-content h1 {
  font-weight: 800;
  font-size: clamp(40px, 4vw, 56px);
  line-height: clamp(50px, 5.75vw, 71px);
  color: #13183F;
  margin-bottom: 29px;
}
.skilled-e-learning-landing-page .hero .hero-content p {
  font-weight: 500;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: clamp(26px, 2.6vw, 28px);
  color: #83869A;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .hero .hero-content p {
    margin-bottom: 24px;
  }
}
.skilled-e-learning-landing-page .hero .hero-content .hero-button {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  width: max-content;
}
@media (min-width: 1920px) {
  .skilled-e-learning-landing-page .hero .hero-content .hero-button {
    width: 100%;
  }
}
.skilled-e-learning-landing-page .hero .hero-content .hero-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.skilled-e-learning-landing-page .mobile-image {
  margin-top: 46px;
}
.skilled-e-learning-landing-page .main {
  margin-top: 250px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
@media (max-width: 1430px) {
  .skilled-e-learning-landing-page .main {
    margin-top: 190px;
  }
}
@media (max-width: 1024px) {
  .skilled-e-learning-landing-page .main {
    margin-top: 175px;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .main {
    margin-top: 100px;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main {
    margin-top: 66px;
  }
}
.skilled-e-learning-landing-page .main .main-content {
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 64px;
  padding-bottom: 140px;
}
@media (max-width: 1024px) {
  .skilled-e-learning-landing-page .main .main-content {
    gap: 16px;
    row-gap: 30px;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content {
    row-gap: 44px;
    padding-bottom: 80px;
  }
}
.skilled-e-learning-landing-page .main .main-content .course {
  border-radius: 15px;
  flex-basis: 31.5%;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding-left: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1365px) {
  .skilled-e-learning-landing-page .main .main-content .course {
    flex-basis: 48.5%;
  }
}
@media (max-width: 1250px) {
  .skilled-e-learning-landing-page .main .main-content .course {
    flex-basis: 48%;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content .course {
    flex-basis: 100%;
    padding-left: 28px;
    padding-bottom: 32px;
    gap: 18px;
  }
}
.skilled-e-learning-landing-page .main .main-content .course .icon {
  margin-top: -16px;
  margin-bottom: 8px;
}
.skilled-e-learning-landing-page .main .main-content .course h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183F;
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content .course h5 {
    font-size: 20px;
    line-height: 25px;
  }
}
.skilled-e-learning-landing-page .main .main-content .course p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  width: 80%;
  min-height: 112px;
}
@media (max-width: 1404px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 140px;
  }
}
@media (max-width: 1024px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 100px;
  }
}
@media (max-width: 841px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 112px;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 150px;
  }
}
@media (max-width: 640px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 175px;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content .course p {
    min-height: 80px;
    font-size: 16px;
    line-height: 26px;
  }
}
.skilled-e-learning-landing-page .main .main-content .course .course-link a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F74780;
  transition: 0.2s all ease;
}
.skilled-e-learning-landing-page .main .main-content .course .course-link a:hover {
  color: #FFA7C3;
}
.skilled-e-learning-landing-page .main .main-content .course.course-introducer {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  padding-bottom: 48px;
  min-height: 338px;
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-inline: 29px;
    padding-top: 24px;
    padding-bottom: 29px !important;
    min-height: 120px;
  }
}
@media (max-width: 1404px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 76px;
  }
}
@media (max-width: 970px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 36px;
  }
}
@media (max-width: 945px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 86px;
  }
}
@media (max-width: 690px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 46px;
  }
}
@media (max-width: 640px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer {
    padding-bottom: 71px;
  }
}
.skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  padding-inline: 32px;
  padding-top: 64px;
  padding-bottom: 98px;
}
@media (max-width: 1365px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
    width: 73%;
  }
}
@media (max-width: 1116px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
    padding: 0;
    width: 80%;
    font-size: 24px;
    line-height: 32px;
  }
}
.skilled-e-learning-landing-page footer {
  background: #13183F;
  padding-block: 32px;
}
.skilled-e-learning-landing-page footer .footer-button {
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
@media (max-width: 768px) {
  .skilled-e-learning-landing-page footer .footer-button {
    padding-inline: 24px;
    padding-block: 9px;
  }
}
.skilled-e-learning-landing-page footer .footer-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}/*# sourceMappingURL=style.css.map */