* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.skilled-container {
  width: 80%;
  margin: auto;
}

.get-started-button {
  border-radius: 28px;
  padding-block: 14px;
  padding-inline: 32px;
  cursor: pointer;
  transition: 0.2s all ease-in;
}
.get-started-button:hover {
  transform: scale(1.05);
}
.get-started-button a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.skilled-e-learning-landing-page .header-hero-section {
  background: url(assets/image-hero-desktop@2x.webp);
  background-repeat: no-repeat;
  background-size: 990px;
  background-position-x: 170%;
  background-position-y: 65%;
  padding-bottom: 120px;
}
.skilled-e-learning-landing-page header {
  padding-top: 24px;
}
.skilled-e-learning-landing-page header .header-button {
  background: #13183F;
}
.skilled-e-learning-landing-page header .header-button:hover {
  background: #666CA3;
}
.skilled-e-learning-landing-page .hero {
  padding-top: 172px;
}
.skilled-e-learning-landing-page .hero .hero-content {
  width: 40%;
}
.skilled-e-learning-landing-page .hero .hero-content h1 {
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183F;
  margin-bottom: 29px;
}
.skilled-e-learning-landing-page .hero .hero-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  margin-bottom: 40px;
}
.skilled-e-learning-landing-page .hero .hero-content .hero-button {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  width: max-content;
}
.skilled-e-learning-landing-page .hero .hero-content .hero-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.skilled-e-learning-landing-page .main {
  margin-top: 250px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
.skilled-e-learning-landing-page .main .main-content {
  gap: 30px;
  flex-wrap: wrap;
  row-gap: 64px;
  padding-bottom: 140px;
}
.skilled-e-learning-landing-page .main .main-content .course {
  border-radius: 15px;
  flex-basis: 31.5%;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding-left: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.skilled-e-learning-landing-page .main .main-content .course .icon {
  margin-top: -16px;
  margin-bottom: 8px;
}
.skilled-e-learning-landing-page .main .main-content .course h5 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #13183F;
}
.skilled-e-learning-landing-page .main .main-content .course p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  width: 80%;
  min-height: 112px;
}
.skilled-e-learning-landing-page .main .main-content .course .course-link a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F74780;
  transition: 0.2s all ease;
}
.skilled-e-learning-landing-page .main .main-content .course .course-link a:hover {
  color: #FFA7C3;
}
.skilled-e-learning-landing-page .main .main-content .course.course-introducer {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.skilled-e-learning-landing-page .main .main-content .course.course-introducer h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  padding-inline: 32px;
  padding-top: 64px;
  padding-bottom: 98px;
}
.skilled-e-learning-landing-page footer {
  background: #13183F;
  padding-block: 32px;
}
.skilled-e-learning-landing-page footer .footer-button {
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
.skilled-e-learning-landing-page footer .footer-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

/*# sourceMappingURL=style.css.map */
